.editor {
    height: 400px;
    border-radius: 0.375rem;
    border: 1px solid #e2e8f0;
}

.modal {
    transition: opacity 0.25s ease;
}

.modal-container {
    transition: transform 0.25s ease;
}

body {
    background-color: #fde68a;
}